body {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 18px;
  padding: 20px;
}

header {
  padding-bottom: 12px;
  margin-bottom: 24px;
  text-align: center;
  background-image: url('../images/header-ornament.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

article {
  margin: 0 auto;
  padding-bottom: 48px;
  max-width: 510px;
  background-image: url('../images/footer-ornament.png');
  background-repeat: no-repeat;
  background-position: center bottom;
}

article p {
  margin: 0;
  line-height: 1.5em;
  text-indent: 3em;
}

figure {
  margin-top: 10px;
  margin-bottom: 10px;
}

figure.right {
  margin-left: 10px;
  float: right;
}

figure.left {
  margin-right: 10px;
  float: left;
}

figcaption {
  width: 180px;
  text-align: center;
  font-style: italic;
  color: grey;
}